body{
 background-color:#f2f2f2;
 font-family:arial;
 margin:0;
 padding:0
}

.boxx{
 width:70%;
 margin:auto;
 margin-top:30px;
 background:white;
 border-radius:12px;
 overflow:hidden;
 box-shadow:0 0 10px gray
}

.tophead{
 text-align:center;
 background:linear-gradient(to right, #8e2de2,#ff66b2);
 color:white;
 padding:15px;
 font-size:22px;
 font-weight:bold;
}

form{
 padding:20px;
 background:linear-gradient(to bottom,#fff5f9,#ffe6f2);
}

label{display:block;margin-top:8px;font-weight:bold;color:#444}
input,select,textarea{
 width:100%;
 padding:8px;
 margin-top:4px;
 border:1px solid #ccc;
 border-radius:5px
}

.rowy{display:flex;gap:25px;} /* <-- added more gap yay */
.rowy>div{flex:1}


table{border-collapse:collapse;width:100%;margin-top:10px; background-color: #FFFFFF;}
th,td{border:1px solid #ccc;text-align:center;padding:3px}

.hobbies input{width:auto;margin-right:5px}
.courses input{width:auto;margin-right:5px}

.btns{
 text-align:right;
 margin-top:10px
}
button{
 background:linear-gradient(to right,#9c27b0,#e91e63);
 color:white;
 border:none;
 padding:8px 15px;
 border-radius:5px;
 cursor:pointer
}
button:hover{opacity:0.8}